/* small device  */
@media only screen and (max-width: 576px) {
    .mgo {
        padding-bottom: 10px;
        padding-top: 30px;
        width: 335px;
        height: 223px;
    }

    .formd {
        display: none;
    }
}

/* tab device  */
@media only screen and (min-width: 600px) {
    .forsm {
        display: none;
    }
}

/* desktop Device  */
@media only screen and (max-width: 768px) {
    .formd {
        display: none;
    }
}

.bgbanner {
    background-color: #F4FAFD;
}